@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 600;
}

h2,h3,h4,h5,h6 {
  font-weight: 500;
}

@layer base {
    .wrapper {
        @apply w-full px-2.5 md:px-0 md:w-11/12 lg:w-10/12 max-w-[1560px] mx-auto;
    }
}

.flex-2 {
    flex: 2;
  }
.flex-3 {
    flex: 3;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}
.flex-7 {
    flex: 7;
}
.flex-8 {
    flex: 8;
}