@tailwind base;
@tailwind components;
@tailwind utilities;


.mobile-menu-bg {
    background-color: rgba(15, 23, 42, 0.98);
}

@layer base {
    * {
        @apply box-border m-0 p-0;
    }
    body {
        @apply text-slate-950 bg-slate-100;
    }

    nav {
        @apply text-primary-50;
    }

    h1 {
        @apply font-bold;
    }

    h2,h3,h4,h5,h6 {
        @apply font-semibold;
    }

    .shimmer {
        @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-white/60 before:to-transparent;
    }

    .wrapper {
        @apply w-full px-6 md:w-11/12 xl:w-10/12 max-w-[1560px] mx-auto;
    }
}

.flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .flex-6 {
    flex: 6;
  }
  .flex-7 {
    flex: 7;
  }
  .flex-8 {
    flex: 8;
  }